@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/*增加本地字体*/
/*@font-face {*/
/*    font-family: "ADELIA";*/
/*    src: url("../public/fonts/ADELIA.otf");*/
/*}*/

@layer base {
    * {
        -webkit-tap-highlight-color: transparent;
        /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
    }

    /*设置IOS页面长按不可复制粘贴，但是IOS上出现input、textarea不能输入，因此将使用-webkit-user-select:auto;*/
    * {
        -webkit-touch-callout:none;  /* 系统默认菜单被禁用 */
        -webkit-user-select:none; /* webkit浏览器 */
        -khtml-user-select:none; /* 早期浏览器 */
        -moz-user-select:none;/* 火狐 */
        -ms-user-select:none; /* IE10 */
        user-select:none;
        touch-action: manipulation;
    }
    input,textarea {
        -webkit-user-select:auto; /* webkit浏览器 */
        margin: 0px;
        padding: 0px;
        outline: none;
    }
    /*禁用长按页面时弹出菜单*/
    img, a {
        -webkit-touch-callout: none;
    }
}
